*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: #00000080;
    animation: zoomPan 20s ease-in-out infinite alternate;
}

@keyframes zoomPan {
  0% {
    background-size: 100%;
    background-position: center;
  }
  50% {
    background-size: 110%;
    background-position: top;
  }
  100% {
    background-size: 100%;
    background-position: center;
  }
}


.Container{
    width: 430px;
    color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #0000001a;
    backdrop-filter: blur(20px);
}

h2{
    font-size: 34px;
    text-align: center;
    letter-spacing: 1px;
}

.input-box{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}

.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 2px solid rgb(100, 97, 97);
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember a{
    color: #fff;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    background: #fff;
    color: #333;
    border: none;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

button:hover{
    background-color:black;
    color: white;
}

.Create{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.Create a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.Create a:hover{
    text-decoration: underline;
}